@charset "utf-8";
/* core.css - 중요공통기능 */

/*웹폰트*/
@font-face {
    font-family: 'Bitter-Regular';
    src: url(../fonts/Bitter/Bitter-Regular.ttf) format('truetype'), url(../font/Bitter/Bitter-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Telegraf Regular';
    src: url(../fonts/Telegraf/Telegraf Regular 400.otf) format('opentype'), url(../font/Telegraf/Telegraf Regular 400.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf) format('truetype'), url(../font/Montserrat/Montserrat-Bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype'), url(../font/Montserrat/Montserrat-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rock_Salt';
    src: url(../fonts/Rock_Salt/RockSalt-Regular.ttf) format('truetype'), url(../font/Rock_Salt/RockSalt-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KakaoRegular';
    src: url(../fonts/KakaoRegular.ttf) format('truetype'), url(../font/KakaoRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url(../fonts/RobotoSlab-Regular.ttf) format('truetype'),
        /*url(../font/KakaoRegular.woff) format('woff')*/
    ;
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'Nanum Myeongjo', serif;*/
/*font-family: 'Maven Pro', sans-serif;*/
/*font-family: 'Noto Sans KR', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/

/*
[ 웹폰트지정형식 ]
@font-face {
    font-family: 내가지은이름;
    src: url(경로.woff) format("woff"),
        url(경로.ttf) format("truetype")
}
- woff 는 데스크탑 브라우저용 웹폰트 확장자
- ttf 는 모바일 브라우저용 웹폰트 확장자
- format(형식명) 은 명시적으로 확장자를 지정하여 웹폰트 로딩을 빠르게함!
*/



/*공통*/
body {
    font-family: 'KakaoRegular';
    color: #222;
    font-size: 1rem;
    max-width: 1920px;
    overflow-x: hidden;
}

/* 배경 노이즈 */
.bg_noise {
    top: -20vw;
    right: -20vw;
    bottom: -20vw;
    left: -20vw;
    width: auto;
    height: auto;
    position: fixed;
    z-index: 999999;
    background-position: 50%;
    background-image: url(../images/bg_noise.png);
    opacity: .4;
    pointer-events: none;
    animation: noiseBG 2s steps(2) infinite;
}

@keyframes noiseBG {
    0% {
        transform: translate3d(0, 9rem, 0);
    }

    10% {
        transform: translate3d(-1rem, -4rem, 0);
    }

    20% {
        transform: translate3d(-8rem, 2rem, 0);
    }

    30% {
        transform: translate3d(9rem, -9rem, 0);
    }

    40% {
        transform: translate3d(-2rem, 7rem, 0);
    }

    50% {
        transform: translate3d(-9rem, -4rem, 0);
    }

    60% {
        transform: translate3d(2rem, 6rem, 0);
    }

    70% {
        transform: translate3d(7rem, -8rem, 0);
    }

    80% {
        transform: translate3d(-9rem, 1rem, 0);
    }

    90% {
        transform: translate3d(6rem, -5rem, 0);
    }

    100% {
        transform: translate3d(-7rem, 0, 0);
    }
}

}

table,
thead,
tbody,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* 공통 class */

.bld {
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}


.clear_both::before,
.clear_both::after {
    content: "";
    clear: both;
    display: block;
}

/* 레이아웃 공통 */
.inbox {
    position: relative;
    width: 1600px;
    max-width: 100%;
    height: 100%;
    /* 1200px 보다 작아질때 화면에 맞춤 !!*/
    margin: 0 auto;
    outline: 2px dashed blue;
}

/* pj 비율박스 */
.ratio_box::before {
    content: "";
    display: block;
    padding-top: 55%;
    outline: 2px dashed red;
}


.pjH_view li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.pjH_view li p {
    display: block;
    white-space: nowrap;
    padding-right: 40px;
    animation: flow_Ani 5s linear infinite;
}

.pjH_view li:nth-child(2) p {
    animation: flow_Ani2 4s linear infinite;
}

@keyframes flow_Ani {
    0 {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes flow_Ani2 {
    0 {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.pjH_view li:not(:last-child) {
    padding-bottom: 35px;
}

.pjH_view li:not(:nth-child(2)) {
    font-weight: normal;
    font-style: italic;
    -webkit-text-stroke: .5px #fff;
    -webkit-text-fill-color: transparent;
}

/* pj 호버 마퀴태그 */

.pjH_view {
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    overflow: hidden;
    transition: opacity .6s ease-out;
    opacity: 0;
}


/* join 비율 유지 속박스 */
.pibx {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* 속박스 내의 직계자식들*/
.pibx > * {
    position: relative;
    color: #fff;
    opacity: 0;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    transition: opacity .4s ease-out;
    z-index: 1;
}

/* join pj 호버 커버 */
.project_joint_listBox li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity .6s ease-out;
}

/* join pj 호버시 내용 보이기 */
.project_joint_listBox li:hover::after ,.project_joint_listBox li:hover .pibx > *{
    opacity: 1;
}


/* 타이틀 폰트 */
.title_F p {
    font-size: 1.5rem;
}

.title_F h2 {
    font-size: 8.5rem;
}

/* 프로젝트 타이틀 폰트 */
.project_viewF span {
    font-size: 5rem;
}

.project_viewF h3 {
    font-size: 3.5rem;
}
