@media only screen and (max-width: 1600px) {

    /************** 첫 페이지 - nav_page **************/
    nav .gnb_box {
        width: 50vw;
    }

    /*********  두번째 페이지 - about_page_wrap  **********/

    #about_page_wrap {
        padding: 2%;
    }

    /************** 세번째 페이지 - skills page **********/
    #skills_page_wrap {
        padding: 0 2% 2% 2%;
    }

}

@media only screen and (max-width: 1500px) {

    /*********  두번째 페이지 - about_page_wrap  **********/


    .about_info_list .about_info_list_box {
        font-size: 1.1rem;
    }

    .about_info_intro .about_info_text h3 {
        font-size: 1.95rem;
    }

    .about_info_intro .about_info_text p {
        font-size: 1.2rem;
    }

    /********* 마지막 페이지 - contact_page_wrap *********/
    .contact_page_area .contact_text {
        margin-top: 2%;
    }

    .contact_page_area .contact_last {
        font-size: 1.9rem;
    }

    .contact_page_area .copy_box::after {
        width: 7rem;
        height: 7rem;
        font-size: 1.1rem;
    }

    .contact_page_area .cotact_contacts dd {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1350px) {

    /*********  두번째 페이지 - about_page_wrap  **********/


    .about_info_list .about_info_list_box {
        margin-left: 0;
    }

    .about_info_list .about_info_list_box dl {
        right: 0;
    }

    .about_info_list .about_education p {
        text-indent: 25%;
    }

    .about_info_list .about_info_list_box dl:not(:last-child)::before {
        width: 100%;
    }
}

/* 1024px - ipad pro */
@media only screen and (max-width: 1024px) {

    /************** 첫 페이지 - nav_page **************/

    .nav_page_area .first_bg li {
        font-size: 31vw;
    }

    .nav_page nav .gnb_btn {
        width: 14%;
        top: 12%;
        right: 3%;
    }

    nav .gnb_box {
        width: 55vw;
        height: 110%;
    }

    nav .gnb_list li a {
        font-size: 6vw;
    }

    /*********  두번째 페이지 - about_page_wrap  **********/
    .inbox {
        padding: 5%;
    }

    body .title_F p {
        font-size: 1.2rem;
    }

    body .title_F h2 {
        font-size: 7.5rem;
    }

    .about_box .about_img_area {
        width: 46%;
    }

    .about_box .about_box_bg li {
        font-size: 7.8vw;
    }

    .about_info .about_title p {
        padding-top: 3%;
    }

    .about_info .about_info_intro {
        display: block;
    }

    .about_info .about_info_text {
        padding: 0;
    }

    .about_info .about_info_text h3 {
        padding-bottom: 20px;
        font-size: 1.85rem;
    }

    .about_info .about_info_text_2 {
        padding: 0;
    }

    .about_info .about_info_text p br {
        display: none;
    }

    .about_info .about_info_list_box {
        margin-left: 0;
        padding-top: 5%;
    }

    .about_info_list .about_education p {
        text-indent: 17%;
    }

    /************** 세번째 페이지 - skills page **********/
    .skills_page_area .skills_title p {
        padding-top: 3%;
    }

    .skills_list .jQ_logo img {
        width: 150px;
    }

    .skills_list .jQ_logo .wave {
        top: 300%;
    }

    .skills_page_area .skills_list li:nth-child(2):hover .wave,
    .skills_page_area .skills_list li:nth-child(3):hover .wave,
    .skills_page_area .skills_list li:nth-child(5):hover .wave,
    .skills_page_area .skills_list li:nth-child(7):hover .wave {
        top: 8%;
    }

    .skills_page_area .skills_list li:nth-child(14):hover .wave,
    .skills_page_area .skills_list li:nth-child(15):hover .wave {
        top: 50%;
    }


    .skills_page_area .skills_list li:nth-child(12):hover .wave {
        top: 35%;
    }


    /********* 네번째 페이지 - project_page_wrap *********/
    .project_page_header .project_title li {
        font-size: 8rem;
    }

    .project_page_header .project_page_text {
        padding: 0 0 5% 0;
        font-size: 1.17rem;
    }

    .project_area .project_first_view_box,
    .project_area .project_sec_view_box {
        width: 80%;
    }

    .project_area .project_first_text,
    .project_area .project_sec_text {
        padding-top: 15%;
    }

    .project_area .project_first_text dd,
    .project_area .project_sec_text dd {
        font-size: 1.7rem;
    }

    .project_area .project_first_text dt,
    .project_area .project_sec_text dt {
        font-size: 1.9rem;
    }

    .project_area .project_joint.inbox {
        height: 100vh;
    }

    .project_area .project_join_view {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    /********* 마지막 페이지 - contact_page_wrap *********/

    .contact_page_area .contact_text {
        margin-top: 28%;
    }

    .contact_page_area .conT_break {
        display: inline-block;
    }

    .contact_page_area .cotact_contacts {
        top: 56%;
        height: 50vmin;
    }

    .contact_page_area .cotact_contacts dd {
        font-size: 2.5rem;
    }

    .contact_page_area .cotact_contacts dt {
        font-size: 2.5rem;
    }

    .contact_page_area .cotact_contacts dl:first-child {
        padding-bottom: 10%;
    }

    .contact_page_area .copy_box::after {
        width: 8rem;
        height: 8rem;
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 900px) {

    /* 전체 */
    html {
        font-size: 14px;
    }

    /************** 세번째 페이지 - skills page **********/
    .skills_list .jQ_logo .wave {
        top: 310%;
    }

    /********* 마지막 페이지 - contact_page_wrap *********/
    .contact_page_area .conT_break {
        display: block;
    }

    .contact_page_area .contact_text {
        margin-top: 10%;
    }

    .contact_page_area .contact_text p {
        transform: translateY(-8%);
    }

    .contact_page_area .contact_text span {
        left: 70%;
    }
}

@media only screen and (max-width: 800px) {

    /* 전체 */
    html {
        font-size: 13px;
    }

    /*********  두번째 페이지 - about_page_wrap  **********/
    .title_F p {
        font-size: 1.2rem;
    }

    /************** 세번째 페이지 - skills page **********/
    .skills_page_area .skills_list li:not(:nth-child(10)) a {
        height: 85px;
    }

    .skills_list .jQ_logo img {
        width: 125px;
    }

    /********* 네번째 페이지 - project_page_wrap *********/
    .project_page_header #circle_svg {
        width: 200px;
        height: 200px;
    }

    .project_page_header #circle_svg text {
        font-size: 3.25rem;
    }

}


@media only screen and (max-width: 768px) {

    /* 전체 */
    html {
        font-size: 12px;
    }

    /************** 세번째 페이지 - skills page **********/
    .skills_page_area .wave {
        top: 175%;
    }

    .skills_list .jQ_logo .wave {
        top: 363%;
    }

    /********* 네번째 페이지 - project_page_wrap *********/
    .project_page_header #circle_svg text {
        letter-spacing: 0.7rem;
    }

    /********* 마지막 페이지 - contact_page_wrap *********/
    .contact_page_area .conT_break {
        display: inline-block;
    }

    .contact_page_area .contact_text {
        margin-top: 28%;
    }

    .contact_page_area .contact_text p {
        transform: translatex(-50%);
    }

    .contact_page_area .contact_text span {
        left: 55%;
    }
}

@media only screen and (max-width: 600px) {

    /* 전체 */
    body .title_F h2 {
        font-size: 6.2rem;
    }

    /*********  두번째 페이지 - about_page_wrap  **********/
    .about_info_list .about_education p {
        text-indent: 22%;
    }

    /*********  두번째 페이지 - about_page_wrap  **********/
    .about_info .about_info_text {
        padding: 5% 0 10%;
    }

    /************** 세번째 페이지 - skills page **********/
    .skills_page_area .skills_list li {
        width: 25%;
    }

    .skills_page_area .skills_list li:nth-child(9) {
        opacity: 0;
    }

    .skills_page_area .skills_list li:not(:nth-child(10)) a {
        height: 75px;
    }

    .skills_list .jQ_logo img {
        width: 110px;
    }

    /********* 네번째 페이지 - project_page_wrap *********/

    .project_page_header .project_title li {
        font-size: 7.8rem;
    }

    .project_page_header #circle_svg {
        margin-left: -5%;
    }

    .project_page_header .project_title {
        top: 15%;
    }

    .project_page_header .project_page_text {
        padding: 35% 5% 5%;
    }

    .project_page_header .project_page_text br {
        display: none;
    }

    .project_area .project_viewF span {
        top: -32px;
        font-size: 4rem;
    }

    .project_area .project_viewF h3 {
        bottom: -20px;
        font-size: 2.8rem;
    }

    .contact_page_box .cotact_contacts dt {
        font-size: 1.8rem;
    }

    .contact_page_box .cotact_contacts dd {
        font-size: 1.5rem;
    }

    .contact_page_box .contact_text {
        font-size: 3rem;
    }

}

@media only screen and (max-width: 540px) {

    /* 전체 */
    body .title_F h2 {
        font-size: 5.6rem;
    }

    body .title_F p {
        font-size: 1.1rem;
    }

    /************** 첫 페이지 - nav_page **************/
    body .nav_page {
        height: 100vh;
    }

    .nav_page_area .first_bg li span {
        top: -10px;
    }

    /*********  두번째 페이지 - about_page_wrap  **********/
    #about_page_wrap .about_box {
        height: 100vh;
    }

    .about_box .about_box_area {
        top: 10%;
        transform: none;
    }

    .about_info_intro .about_info_text {
        position: absolute;
        top: -50%;
    }

    .about_info .about_info_text {
        padding: 5% 10% 0;
    }


    .about_info .about_info_text h3 {
        padding-bottom: 10%;
        font-size: 1.75rem;
        text-align: center;
    }

    .about_info_text .break {
        display: block;
    }

    #about_page_wrap .about_info {
        height: 100vh;
    }

    .about_info .about_info_list_box {
        padding-top: 10%;
    }

    .about_info_list .about_info_list_box dd {
        padding-left: 25%;
    }

    .about_info_list .about_info_list_box dt {
        float: initial;
        padding-bottom: 10px;
    }

    .about_info_list .about_education p {
        text-indent: 25%;
    }

    /************** 세번째 페이지 - skills page **********/

    .skills_page_area .wave {
        top: 191%;
    }

    .skills_list .jQ_logo .wave {
        top: 400%;
    }

    /********* 네번째 페이지 - project_page_wrap *********/
    #project_page_wrap .project_page_header {
        height: 100vh;
    }

    .project_page_header .project_title li {
        font-size: 7rem;
    }

    .project_page_header #circle_svg {
        width: 190px;
        height: 190px;
        margin-left: -5%;
    }

    .project_area .project_viewF span {
        top: -30px;
        font-size: 3.8rem;
    }

    .project_area .project_viewF h3 {
        bottom: -18px;
        right: -20px;
        font-size: 2.5rem;
    }

    .project_page_header .project_page_text {
        padding: 55% 5% 5%;
        font-size: 1.3rem;
    }

    .project_area .project_first,
    .project_area .project_sec,
    .project_area .project_joint {
        height: 90vh;
    }

    .project_first .project_first_view_box,
    .project_sec .project_sec_view_box {
        width: 85%;
        margin-top: 10%;
    }

    .project_first .project_first_text,
    .project_sec .project_sec_text {
        padding-top: 15%;
    }

    .project_first .project_first_text dt,
    .project_sec .project_sec_text dt {
        font-size: 1.4rem;
    }

    .project_first .project_first_text dd,
    .project_sec .project_sec_text dd {
        font-size: 1.35rem;
    }

    /********* 마지막 페이지 - contact_page_wrap *********/
    .contact_page_area .contact_text p {
        font-size: 2.6rem;
    }

    .contact_page_area .contact_text span {
        font-size: 1.85rem;
    }

    .contact_page_box .cotact_contacts dd {
        font-size: 1.8rem;
    }

    .contact_page_area .contact_last {
        font-size: 1.6rem;
    }

    .contact_page_area .copy_box::after {
        width: 6rem;
        height: 6rem;
        right: -4%;
        top: -9%;
        font-size: 1rem;
    }
}

/* 아이폰 6/7/8 plus - 414px*/
@media only screen and (max-width: 415px) {

    /* 전체 */
    body .title_F h2 {
        font-size: 4.8rem;
    }

    /************** 첫 페이지 - nav_page **************/
    body .nav_page {
        height: 100vh;
    }

    .nav_page .first_bg {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .nav_page .first_bg_1,
    .nav_page .first_bg_2 {
        text-orientation: upright;
        writing-mode: vertical-rl;
        letter-spacing: -4rem;
    }

    .nav_page_area .first_bg li span {
        top: -20px;
    }

    .nav_page .first_bg_1 span {
        position: relative;
        top: 7%;
    }

    .nav_page_area .first_bg li {
        font-size: 40vw;
    }

    .nav_page nav .gnb_btn {
        width: 24%;
        top: 6%;
        left: 8%;
    }

    nav .gnb_box {
        width: 90vw;
        height: 60%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(20deg);
    }

    nav .gnb_list li a {
        font-size: 9vw;
    }

    nav .close_btn {
        top: 12%;
        right: 15%;
    }

    nav .close_btn img {
        width: 23px;
    }

    .gnb_box .underline::after {
        height: 7px;
        bottom: 6px;
        left: -2px;
    }

    /*********  두번째 페이지 - about_page_wrap  **********/
    .about_info .about_info_text {
        padding: 5% 7% 0;
    }

    .about_info_list .about_info_list_box dd {
        padding-left: 0;
    }

    .about_info .about_title {
        padding-top: 10%;
    }

    /************** 세번째 페이지 - skills page **********/
    body #skills_page_wrap {
        height: 100vh;
    }

    .skills_page_area .skills_title {
        padding-top: 5%;
    }


    .skills_page_area .skills_list {
        padding-top: 17%;
    }

    .skills_page_area .skills_list li {
        height: 120px;
    }

    .skills_page_area .skills_list li:not(:nth-child(10)) a {
        height: 60px;
    }

    .skills_list .jQ_logo img {
        width: 80px;
    }

    .skills_page_area .wave {
        top: 200%;
    }

    .skills_list .jQ_logo .wave {
        top: 442%;
    }

    /********* 네번째 페이지 - project_page_wrap *********/

    .project_page_header .project_title li {
        font-size: 6.6rem;
    }

    .project_page_header .project_title {
        top: 20%;
    }

    .project_page_header .project_page_text {
        padding-top: 71%;
    }

    .project_first .project_first_view_box,
    .project_sec .project_sec_view_box {
        width: 90%;
        margin-top: 15%;
    }

    .project_joint .project_joint_listBox ul {
        flex-basis: 32%;
    }

    .project_joint .project_joint_title {
        position: relative;
        padding-top: 15%;
        z-index: 1;
    }

    /********* 마지막 페이지 - contact_page_wrap *********/
    .contact_page_area .cotact_contacts {
        height: 65vmin;
    }

    .contact_page_area .contact_text {
        margin-top: 35%;
    }

    .contact_page_area .contact_text p {
        font-size: 2.2rem;
    }

    .contact_page_area .contact_text span {
        font-size: 1.8rem;
        top: 29%;
        left: 56%;
    }

    .contact_page_box .cotact_contacts dt {
        font-size: 1.75rem;
        -webkit-text-stroke: 1px #1c1c1c;
    }

    .contact_page_area .contact_last {
        font-size: 1.4rem;
    }

    .contact_page_area #arrow_svg {
        width: 40px;
        height: 40px;
    }

}


/* 아이폰 6/7/8 plus - 375px*/
@media only screen and (max-width: 376px) {

    /* 전체 */
    body .title_F p {
        font-size: 1rem;
    }

    body .title_F h2 {
        font-size: 4.1rem;
    }

    /************** 첫 페이지 - nav_page **************/
    .nav_page nav .gnb_btn {
        width: 26%;
        top: 5%;
    }

    .nav_page_area .first_bg li {
        font-size: 41vw;
    }

    .about_img_area .about_line {
        top: -17%;
        left: -20%;
    }

    /*********  두번째 페이지 - about_page_wrap  **********/
    .about_box .about_box_bg li {
        font-size: 8.8vw;
    }

    .about_box .about_img_area {
        width: 50%;
    }

    .about_info .about_info_text {
        padding: 5% 4% 0;
    }

    .about_info_list .about_education p {
        text-indent: 23%;
    }

    .about_info_list .about_info_list_box dd {
        padding-left: 0;
        text-indent: -1rem;
    }

    /********* 네번째 페이지 - project_page_wrap *********/
    .project_page_header #circle_svg {
        width: 180px;
    }

    .project_page_header .project_title li {
        font-size: 6.6rem;
    }

    .project_page_header .project_page_text {
        padding-top: 66%;
    }


}
