@charset "utf-8";

@import url(common.css);
@import url(core.css);
@import url(reset.css);
@import url(media.css);


/* 스크롤시 페이드인 */
body {
    position: relative;
}

.up_on_scroll {
    transition: transform 1s, opacity 3s;
}


/************** 첫 페이지 - nav_page **************/
.nav_page {
    position: relative;
    height: 100vmin;
    overflow: hidden;
    background-color: #efe8d7;
}

.color-cream {}


.nav_page_area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.first_bg {
    /*     position: relative;*/
    /*top: 50%;
    transform: translateY(-50%);*/
    width: 100%;
    font-family: 'Bitter-Regular';
}

.first_bg li {
    font-weight: bold;
    font-size: 29vw;
    line-height: .9;
    color: #002A5A;
}

.first_bg li span {
    position: relative;
    top: 0;
    text-shadow: 0 0 2px #000;
}

.first_bg_2 {
    text-align: right;
}

/* nav */


.gnb_btn img {
    width: 100%;
}

.gnb_btn {
    position: absolute;
    width: 10%;
    top: 15%;
    right: 5%;
}

.gnb_btn {
    /*애니메이션(이시이지반방마)*/
    animation: gnbAni .5s linear infinite alternate;
}

@keyframes gnbAni {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(5px);
    }
}

/*
.gnb_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}*/



/* gnb 박스 영역 */

.gnb_box {
    position: absolute;
    width: 45vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(20deg);
    background-color: rgba(213, 120, 86, 0.98);
    display: none;
}

.gnb_list {
    position: absolute;
    top: 50%;
    left: 72%;
    width: 100%;
    transform: translate(-50%, -50%) rotate(-20deg);

}

.gnb_list li a {
    font-size: 5.2vw;
    line-height: 1.2;
    font-family: 'Montserrat-Regular';
    font-weight: bold;
    cursor: pointer;
}

.close_btn img {
    width: 30px;
}

.close_btn {
    position: absolute;
    top: 3%;
    right: 5%;
    transform: rotate(-18deg);
    transition: 1.0s ease all;
    cursor: pointer;
}

.close_btn:hover {
    transform: rotate(360deg);
    transform-origin: center;
    transition: transform 1.0s ease all;
}

.underline::after {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: 10px;
    bottom: 20px;
    left: -2px;
    border-radius: 5px;
    background-color: rgba(222, 184, 114, 0.88);
    transition: width .4s;
}

.gnb_list li a {
    display: inline-block;
}

.gnb_list li a:hover::after {
    width: 100%;
}

/************ 두번째 페이지 - about_page_wrap ************/

#about_page_wrap {
    width: 100%;
    height: 100%;
    background-color: #002A5A;
}

.color-blue {
    background-color: #002A5A;
}

/* about_box */

.about_box {
    height: 100vmin;
}

.about_box_area {
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    /* outline: 1px dotted red;*/
}

.about_box_bg {
    text-align: center;
}

.about_box_bg li {
    font-family: 'Telegraf Regular';
    color: rgba(255, 255, 255, 0.7);
    font-size: 6.5vw;
    font-weight: 700;
    line-height: 1.2;
    display: block;
}

.about_img_area {
    position: absolute;
    width: 33%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about_box img {
    width: 100%;
}

.about_line {
    position: absolute;
    top: -15%;
    left: -18%;
    width: 100%;
    height: 100%;
    border: 3px solid #3D9D91;
}

/* about_info */
.about_info {
    padding-bottom: 5%;
}

.about_title {
    color: #EECABE;
}

.about_title p {
    padding-top: 5%;
    font-size: 1.5rem;
}

.about_title h2 {
    font-family: 'Bitter-Regular';
    font-size: 8.5rem;
    font-weight: 900;
    text-shadow: 0 0 2px #000;
    /*    letter-spacing: -0.5rem;*/
}

/* about 설명글 */

.about_info_intro {
    margin-top: 5%;
    display: flex;
    color: #fff;
}

.about_info_text {
    flex: 1;
    padding: 20px 0 0 20px;
}

.about_info_list {
    flex: 1;
}

.about_info_text h3 {
    line-height: 1.5;
    font-size: 2rem;
}

.about_info_text p {
    font-size: 1.3rem;
    line-height: 1.8;
}

.about_info_text_2 {
    padding: 5% 0 3%;
}

.about_info_list_box {
    margin-left: 10%;
    font-size: 1.1rem;
}

.about_info_list_box span {
    padding-right: 20px;
}

.about_info_list_box dt {
    float: left;
    color: #eba13d;
    font-family: 'Rock_Salt';
    font-size: 1.25rem;
}

.about_info_list_box dd {
    padding-left: 30%;
    line-height: 2;
    font-size: 1.2rem;
}

.about_info_list_box dl {
    position: relative;
    right: -5%;
    padding-bottom: 3%;
}

.about_info_list_box dl:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: 0;
    background-color: #eba13d;
}

.about_education p {
    text-indent: 22%;
}

/************** 세번째 페이지 - skills page **************/

/* 스킬 마우스 커서 */
#cursor {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 9999999;
    pointer-events: none;
    display: none;
}

#cursor::after {
    content: "";
    display: block;
    padding-top: 100%;
}

.cursorH {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.6;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1D8883;
}

.cursor {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px dashed #1D8883;
    border-radius: 50%;
    animation: cursorAni .5s infinite alternate;
}

/* 커서 키프레임 */
@keyframes cursorAni {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes cursorH {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(5px);
    }
}

/*
.skillP{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: bold;
    color: #fff;
}*/

/* 스킬 페이지 */

#skills_page_wrap {
    width: 100%;
    height: 100%;
    /*    background-color: #D2D2D2;*/
}

.color-grey {
    background-color: #c1c1c1;
}

.skills_page_area {
    /*width: 90%;*/
}

.skills_title {
    color: #1D8883;
}

.skills_title p {
    padding-top: 5%;
    font-size: 1.5rem;
}

.skills_title h2 {
    font-family: 'Bitter-Regular';
    font-size: 8.5rem;
    /*    letter-spacing: -0.3rem;*/
    font-weight: 900;
    text-shadow: 0 0 2px #000;
}

/* 터치 스크린 */
.skills_M {
    position: relative;
    padding-left: 4%;
    margin-top: 2%;
    font-family: 'Bitter-Regular';
    font-size: 2rem;
    font-style: italic;
    color: #4e4743;
    display: none;
}

.skills_Mimg {
    position: absolute;
    top: 60px;
    left: 105px;
    width: 100px;
    transform: rotate(-82deg);
}

/* 스킬 리스트 */
.skills_list {
    padding: 5% 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.skills_list li {
    width: 21%;
    height: 150px;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid #1D8883;
    overflow: hidden;
}

.skills_list li:nth-child(1),
.skills_list li:nth-child(4),
.skills_list li:nth-child(8),
.skills_list li:nth-child(13),
.skills_list li:nth-child(16) {
    opacity: 0;
}

.skills_list li:not(:nth-child(10)) a {
    display: block;
    height: 100px;
}

.skills_list li a {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.skills_list li img {
    height: 100%;
}

.jQ_logo {
    display: block;
    height: auto;
}

.jQ_logo img {
    width: 180px;
}

/* 호버 웨이브 키프레임 */
.wave {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 155%;
    transform: translatex(-50%) rotate(360deg);
    border-radius: 35%;
    background: #1b8681;
    transition: all .7s ease;
    opacity: .5;
}

.wave::before {
    content: "";
    position: absolute;
    width: 515px;
    height: 515px;
    left: 0%;
    top: 0%;
    transform: rotate(360deg);
    border-radius: 45%;
    background: #106a66;
    transition: all .7s ease;
    animation: waveAni 10s linear infinite;
    opacity: .4;
}

@keyframes waveAni {
    0% {
        transform: translatex(-50%) rotate(0deg);
        left: 50%;
    }

    100% {
        transform: translatex(-50%) rotate(360deg);
        left: 50%;
    }
}

.skills_list li .wave {
    animation: waveAni 3s linear infinite;
}

.skills_list li:nth-child(2):hover .wave,
.skills_list li:nth-child(3):hover .wave,
.skills_list li:nth-child(5):hover .wave,
.skills_list li:nth-child(7):hover .wave {
    top: -10%;
}

.skills_list li:nth-child(2):hover,
.skills_list li:nth-child(3):hover,
.skills_list li:nth-child(5):hover,
.skills_list li:nth-child(7):hover {
    top: -10%;
}


.skills_list li:nth-child(10):hover .wave,
.skills_list li:nth-child(14):hover .wave,
.skills_list li:nth-child(15):hover .wave {
    top: 30%;
}


.skills_list li:nth-child(12):hover .wave {
    top: 10%;
}


.skills_list li:nth-child(10):hover .wave {
    top: 25%;
}

.jQ_logo .wave {
    transform: translatex(-50%) rotate(360deg);
    top: 265%;
}


/********** 네번째 페이지 - project_page_wrap **********/

#project_page_wrap {
    width: 100%;
    height: 100%;
}

.color-green {
    background-color: #235c47;
}

/* svg  */
#circle_svg {
    width: 250px;
    height: 250px;
    margin: 2%;
    animation: circle_svg 10s linear infinite;
}

#circle_svg embed {
    width: 100%;
    display: block;
}


@keyframes circle_svg {
    to {
        transform: rotate(360deg);
    }
}

/* 헤더 영역 */
.project_page_header {
    position: relative;
    /*width: 90%;*/
    padding-top: 3%;
    color: #c23c48;
}

.project_page_text {
    padding: 0 0 5% 3%;
    color: #EFE8D7;
    font-size: 1.4rem;
    line-height: 2;
}

.project_title {
    position: absolute;
    top: 15%;
    right: 5%;
}

.project_title p {
    font-size: 1.5rem;
    text-align: right;
}

.project_title li {
    position: relative;
    font-family: 'Montserrat-Bold';
    font-size: 10rem;
    /*    letter-spacing: -0.3rem;*/
    font-weight: 900;
    line-height: 1;
}

.project_title li:not(:first-child) {
    margin-top: -13%;
}

.project_title li:nth-child(1) {
    z-index: 4;
}

.project_title li:nth-child(2) {
    -webkit-text-stroke: 2px rgba(194, 60, 72, 0.9);
    -webkit-text-fill-color: transparent;
    opacity: .7;
    z-index: 3;
}

.project_title li:nth-child(3) {
    -webkit-text-stroke: 2px rgba(194, 60, 72, 0.7);
    -webkit-text-fill-color: transparent;
    opacity: .5;
    z-index: 2;
}

.project_title li:nth-child(4) {
    -webkit-text-stroke: 2px rgba(194, 60, 72, 0.6);
    -webkit-text-fill-color: transparent;
    opacity: .4;
    z-index: 1;
}

.project_title li:nth-child(5) {
    -webkit-text-stroke: 2px rgba(194, 60, 72, 0.5);
    -webkit-text-fill-color: transparent;
    opacity: .2;
}

/* 프로젝트 박스 */

/* 맘터 */
.project_first_view_box {
    background: url(../images/moms_P.png) no-repeat center/cover;
}

/* 미술관 */
.project_sec_view_box {
    background: url(../images/museum.png) no-repeat center/cover;
}

/* pj 호버 마퀴태그 */

.pjH_view {
    position: absolute;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    overflow: hidden;
    transition: opacity .6s ease-out;
    opacity: 0;
}


.project_first_view_box::after,
.project_sec_view_box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity .6s ease-out;
    z-index: -1;
    opacity: 0;
}


.project_first_view_box:hover::after,
.project_sec_view_box:hover::after,
.project_first_view_box:hover .pjH_view,
.project_sec_view_box:hover .pjH_view {
    opacity: 1;
}

.project_first {
    padding: 7% 0 5%;
}

.project_sec {
    padding: 10% 0 5%;
}

.project_first.inbox,
.project_sec.inbox {
    width: 1200px;
    height: 110vh;
}

.project_first_view,
.project_sec_view {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.project_first_view_box,
.project_sec_view_box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    cursor: pointer;
    /*    outline: 1px solid #000;*/
}

.project_first_view_box span,
.project_first_view_box h3,
.project_sec_view_box span,
.project_sec_view_box h3 {
    position: absolute;
}

.project_first_view_box span,
.project_sec_view_box span {
    top: -50px;
    left: -30px;
    font-size: 5rem;
    font-weight: bold;
    color: #eba13d;
    text-shadow: 0 0 2px #000;
    z-index: 9999;
}

.project_first_view_box h3,
.project_sec_view_box h3 {
    bottom: -8%;
    right: -15%;
    font-size: 3.5rem;
    font-family: 'Telegraf Regular';
    color: #eba13d;
    text-shadow: 0 0 2px #000;
    z-index: 9999;
}

.project_first_text,
.project_sec_text {
    display: flex;
    padding-top: 5%;
    text-align: center;
    justify-content: center;
}

.project_first_text dt,
.project_sec_text dt {
    font-family: 'Rock_Salt';
    color: #eba13d;
    font-size: 1.25rem;
    padding-bottom: 20px;
}

.project_first_text dd,
.project_sec_text dd {
    text-indent: -40px;
    /* 기본요소 없애기 */
    font-size: 1.2rem;
    line-height: 1.8;
    color: #EFE8D7;
}

.project_first_text dl:first-child,
.project_sec_text dl:first-child {
    padding-right: 15%;
}

/* 공통 프젝 */
.project_joint_listBox {
    width: 1440px;
    max-width: 100%;
    padding: 5% 0 10%;
    display: flex;
    justify-content: space-between;
}

.project_joint_listBox ul {
    flex-basis: 30%;
}

.project_joint_listBox li {
    position: relative;
    top: -2%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10%;
    cursor: pointer;
    outline: 1px solid red;
}

/* 공통 프젝 배경 */

.project_joint_list1 li:first-child {
    background: url(../images/join_pj_carbon.png) no-repeat center/cover;
}

.project_joint_list1 li:nth-child(2) {
    background: url(../images/join_pj_hana.png) no-repeat center/cover;
}

.project_joint_list1 li:nth-child(3) {
    background: url(../images/join_pj_altio.png) no-repeat center/cover;
}

.project_joint_list2 li:first-child {
    background: url(../images/join_pj_megabox.png) no-repeat center/cover;
}

.project_joint_list2 li:nth-child(2) {
    background: url(../images/join_pj_roamom.png) no-repeat center/cover;
}

.project_joint_list3 li:first-child {
    background: url(../images/join_pj_indigo.png) no-repeat center/cover;
}

.project_joint_list3 li:nth-child(2) {
    background: url(../images/join_pj_suhang.png) no-repeat center/cover;
}

.project_joint_list3 li:nth-child(3) {
    background: url(../images/join_pj_san.png) no-repeat center/cover;
}

.project_joint_listBox li::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.project_joint.inbox {
    width: 1200px;
}

.project_joint_title {
    position: relative;
    padding-top: 5%;
    z-index: 1;
}

.project_joint_title span {
    font-size: 5rem;
    font-weight: bold;
    color: #eba13d;
    text-shadow: 0 0 2px #000;
}

.project_joint_title h3 {
    font-size: 3.5rem;
    font-family: 'Telegraf Regular';
    color: #eba13d;
    text-shadow: 0 0 2px #000;
}

/* 공통 프젝 호버 정보 보이기 */
.pj_jhover h3 {
    font-size: 2.3vw;
    padding-bottom: 30px;
}

.pj_jhover p {
    font-size: 1.7vw;
    padding-bottom: 20px;
}

.pj_jhover span {
    font-size: 1.1vw;
    line-height: 1.5;
}



/********* 마지막 페이지 - contact_page_wrap *********/

#contact_page_wrap {
    height: 100vh;
    width: 100%;
    padding: 2%;
}

.color-yellow {
    background-color: #eba13d;
}

.contact_page_area {
    position: relative;
    text-align: center;
    color: #EFE8D7;
}

/* 컨텍트 제목 */

.contact_title {
    text-align: left;
}

.conT_break {
    display: block;
}

.contact_page_box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    padding-top: 3%;
}

.contact_title p {
    padding-right: 2%;
    font-size: 1.5rem;
}

.contact_title h2 {
    font-family: 'Bitter-Regular';

    font-size: 8.5rem;
    line-height: .8;
    /*    letter-spacing: -0.3rem;*/
    font-weight: 900;
    text-shadow: 0 0 2px #000;
    /*    -webkit-text-stroke: 1px #EFE8D7;*/
    /*    -webkit-text-fill-color: transparent;*/
}

.contact_text {
    position: relative;
}

.contact_text p {
    position: relative;
    transform: translateX(-50%);
    display: inline-block;
    color: #c23c48;
    font-family: 'Telegraf Regular';
    font-size: 3rem;
    font-weight: 600;
}

.contact_text p::after {
    content: "";
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 110%;
    border-bottom: 2px solid #c23c48;
}

.contact_text span {
    position: absolute;
    top: 30%;
    left: 55%;
    letter-spacing: .5rem;
    font-size: 2rem;
}

/* contact 영역 */
.cotact_contacts dt {
    font-size: 2rem;
    font-weight: 600;
    -webkit-text-stroke: .1rem #c23c48;
    letter-spacing: .3rem;
    -webkit-text-fill-color: transparent;
}

.cotact_contacts dl:first-child {
    padding-bottom: 5%;
}

.cotact_contacts dd {
    padding-top: 20px;
    font-size: 1.7rem;
    text-indent: -40px;
}

.cotact_contacts dd a {
    color: #EFE8D7
}

.cotact_contacts {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 35vmin;
    padding: 0 5%;
    transform: translate(-50%, -50%);
    border: 1px solid #1c1c1c;
}

.cotact_contacts_box {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    text-align: left;
    font-family: 'Telegraf Regular';
}

.copy_box::after {
    content: "GET IN TOUCH";
    position: absolute;
    width: 6rem;
    height: 6rem;
    right: -5%;
    top: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c23c48;
    transform: rotate(15deg);
    border-radius: 50%;
    font-size: .9rem;
    font-family: 'Telegraf Regular';
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: transform 1.2s;
}

.copy_box:hover::after {
    transform: rotate(15deg) scale(1.2);
}

.contact_last {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #c23c48;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Telegraf Regular';
}

/* 탑 버튼 */
#top_btn {
    position: absolute;
    right: 5%;
    bottom: 10%;
    width: 52px;
    height: 56px;
    transform: rotate(180deg);
    cursor: pointer;
}
