<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학습페이지</title>
    <link rel="stylesheet" type="text/css" href="css/page_1.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link href="font/css/all.css" rel="stylesheet">
</head>
<body class="main_bg">
    <!-- 로그인 창 -->
    <div class="main_wrap">
        <div class="main_area">
            <header class="main_header">
                <h1>
                    <a href="00.intro.html">
                        <img src="images/logo_black.png" alt="로고">
                        <div class="header_acdemy_name">경기도 남양주시 이베스트 영어 정말 잘 가르치는 학원</div>
                    </a>
                </h1>
                
                <div class="header_right">
                    <div class="header_visit">
                        <img src="images/star_yellow.png" alt="노란별">
                        <b>박민수</b>님의 <b>21</b>번째 방문
                    </div>
                        <ul class="gnb">
                            <li><a href="#"><img src="images/header_mail.png" alt="메일"> 메일 <b>2</b></a></li>
                            <li><a href="#"><img src="images/header_my_info.png" alt="내정보"> 내 정보</a></li>
                            <li><a href="#"><img src="images/header_logout.png" alt="로그아웃"> 로그아웃</a></li>
                        </ul>
                </div>
            </header>
            
            <div class="sub_wrap">
                              
                   
                <ul class="sub_left_navi bg_blue">
                    <li><a href="#" class="active">Lecture<span>5</span></a></li>
                    <li><a href="#">Drafting</a></li>
                    <li><a href="#">Rewriting</a></li>
                    <li><a href="#">Recording<span>1</span></a></li>
                    <li><a href="#">Report</a></li>
                </ul>
                            
            <div class="sub_area">
                  <ul class="study_list">
                     <li>
                         <table cellpadding="0" cellspacing="0" class="study_table">
                            <colgroup>
                                <col width="23%">
                                <col width="%">
                                <col width="19%">
                                <col width="15%">
                            </colgroup>
                             <tr>
                                <td>
                                 <div class="study_img" style="background-image:url(images/sample_study_1.jpg)"></div>
                                 </td>
                                 <th>
                                     <h3>
                                         <div class="study_caption">My Family is very good.My Family is very good.</div>
                                         <span class="study_label bg_sky">그림묘사</span>
                                         
                                     </h3>
                                     <div class="study_info">
                                         <span class="study_date">학습일 : 19.05.05</span>
                                         <span class="study_subit">제출일 : 19.05.05</span>
                                     </div>
                                </th>
                                 <td><img src="images/stamp_good.png" class="styudy_stamp"></td>
                                 <td><a href="#" class="study_btn before">학습전</a></td>
                             </tr>
                             
                         </table>
                     </li> 
                     <li>
                         <table cellpadding="0" cellspacing="0" class="study_table">
                            <colgroup>
                                <col width="23%">
                                <col width="%">
                                <col width="19%">
                                <col width="15%">
                            </colgroup>
                             <tr>
                                <td>
                                 <div class="study_img" style="background-image:url(images/sample_study_2.jpg)"></div>
                                 </td>
                                 <th>
                                     <h3>
                                         <div class="study_caption">My Family is very good.My Family is very good.</div>
                                         <span class="study_label bg_yellow">에세이</span>
                                         
                                     </h3>
                                     <div class="study_info">
                                         <span class="study_date">학습일 : 19.05.05</span>
                                         <span class="study_subit">제출일 : 19.05.05</span>
                                     </div>
                                </th>
                                 <td><img src="images/stamp_verygood.png" class="styudy_stamp"></td>
                                 <td><span href="#" class="study_btn complete">학습완료</span></td>
                             </tr>
                             
                         </table>
                     </li> 
                     <li>
                         <table cellpadding="0" cellspacing="0" class="study_table">
                            <colgroup>
                                <col width="23%">
                                <col width="%">
                                <col width="19%">
                                <col width="15%">
                            </colgroup>
                             <tr>
                                <td>
                                 <div class="study_img" style="background-image:url(images/sample_study_1.jpg)"></div>
                                 </td>
                                 <th>
                                     <h3>
                                         <div class="study_caption">My Family is very good.My Family is very good.</div>
                                         <span class="study_label bg_purple">수행비서</span>
                                         
                                     </h3>
                                     <div class="study_info">
                                         <span class="study_date">학습일 : 19.05.05</span>
                                         <span class="study_subit">제출일 : 19.05.05</span>
                                     </div>
                                </th>
                                 <td></td>
                                 <td><a href="#" class="study_btn before">학습전</a></td>
                             </tr>
                             
                         </table>
                     </li> 
                     <li>
                         <table cellpadding="0" cellspacing="0" class="study_table">
                            <colgroup>
                                <col width="23%">
                                <col width="%">
                                <col width="19%">
                                <col width="15%">
                            </colgroup>
                             <tr>
                                <td>
                                 <div class="study_img" style="background-image:url(images/sample_study_4.jpg)"></div>
                                 </td>
                                 <th>
                                     <h3>
                                         <div class="study_caption">My Family is very good.My Family is very good.</div>
                                         <span class="study_label bg_red">묘사논술</span>
                                         
                                     </h3>
                                     <div class="study_info">
                                         <span class="study_date">학습일 : 19.05.05</span>
                                         <span class="study_subit">제출일 : 19.05.05</span>
                                     </div>
                                </th>
                                 <td><img src="images/stamp_excellent.png" class="styudy_stamp"></td>
                                 <td><a href="#" class="study_btn complete">학습완료</a>
                                     <a href="#" class="study_btn before">report</a>
                                 </td>
                             </tr>
                             
                         </table>
                     </li> 
                  </ul>
                   
                  <ol class="paging">
                      <li><span><i class="fas fa-chevron-left"></i></span></li>
                      <li><span class="active">1</span></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><span><i class="fas fa-chevron-right"></i></span></li>
                  </ol> 
                </div>
                  
                </div>
                
                
            </div>
            
        
        <div class="sub_copyright">COPYRIGHT 2019 수행코디 ALL RIGHTS RESERVED.</div>
    </div>
</body>
</html>